@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Index";
}
<style>
    .custom-subject-header {
        color: green;
        font-weight: bold;
        width: 50px !important; /* Adjust the width as needed */
    }
</style>

<div class="container-fluid">
    <div>
        <table id="customerDatatable" class="table table-striped table-bordered border-top table-hover"></table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#customerDatatable').DataTable({
                "processing": true,
                "serverSide": false,
                "filter": true,
                "orderMulti": true,
                "ajax": {
                    "url": "/TblContact/GetContactList",
                    "type": "GET",
                    "dataType": "json",
                },
                "columns": [
                    { "data": "Id", "title": "ID" },
                    { "data": "Name", "title": "Name" },
                    { "data": "Email", "title": "Email" },
                    //{ "data": "Message", "title": "Message", "autoWidth": true },
                    { "data": "Status", "title": "Status" },
                    { "data": "Subject", "title": "Subject" },
                    { "data": "AddedDate", "title": "Added Date" }
                ],
                "columnDefs": [
                    {
                        // Target the "Subject" column (zero-based index)
                        "targets": 4,
                        // Apply custom styles
                        "render": function (data, type, row, meta) {
                            // You can customize the styling here
                            return '<span style="color: red; font-weight: bold;">' + data + '</span>';
                        }
                    }
                ],
                "headerCallback": function (thead, data, start, end, display) {
                    // Apply styles to the header cell for the "Subject" column
                    var subjectHeaderCell = $(thead).find('th:eq(4)'); // Assuming "Subject" is the fifth column (zero-based index)
                    //subjectHeaderCell.addClass("custom-subject-header");
                    $(thead).find('th').addClass("custom-subject-header");
                }

            });
        });
    </script>
}