@model IEnumerable<NextWave.Models.TblCompany>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Compay Name</td>
                <td>Agreement</td>
                <td>Borrowing Review</td>
                <td>Legal Assessment</td>
                <td>Name Reserved</td>
                <td>Quote ForTax</td>
                <td>Registered</td>
                <td>Tbl Company Directors</td>
            </tr>
        </thead>
        <tbody id="ListData">
        </tbody>
    </table>
</div>


@section Scripts{

    <script>
        $(document).ready(function(){

            //function GetData(){

                var html = '';


                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCompanyData")",
                    dataType: "json",
                    success: function (response) {
                        console.log(response.data);

                        $.each(response.data, function (key, item)
                        {
                        html += "<tr><td>" + item.Id + "</td> <td>" + item.CompanyName + "</td> <td>" + item.Agreement + "</td> <td>" + item.BorrowingReview + "</td> <td>" + item.LegalAssessment + "</td> <td>" + item.NameReserved + "</td> <td>" + item.QuoteForTax + "</td> <td>" + item.Registered + "</td> <td>" + item.TblCompanyDirectors + "</td> </tr>";
                        });
                        $("#ListData").append(html);

                    },
                    error: function (req, status, error) {
                        console.log(status);
                    }
                });
            //}

        });

    </script>
}